@viewport {
  width:device-width;
  zoom: 1;
}

body{
  background-color: rgb(153, 152, 152);
  padding:0;
  margin:0;
}

.parallax #navigation {
  background-image: url("/images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

h1 {
    color: #014244;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

#git p,
#unix p {
  font-size: 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}
ol{
  list-style-position: inside;
}

 ul{
  list-style-position: inside;
  list-style-type: circle;
}

#navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 100px;
}

#navigation h1{
  color: white;
  font-weight: 700;
}

.nav-list{
 list-style-type: none;
  background-color: #014244;
  color:white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase; 
}

.returnNavigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:100%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.pagelink {
    width:150px;
    background-color: #014244 ;
}

.nav-list a,
.returnNavigation a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  transition-duration: 700ms;
  transition-timing-function: ease-in;
}

.nav-list a:hover,
.returnNavigation a:hover {
  background-color: #555;
  color:white;
}

#git{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.git-list,
.unix-list {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.instructions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding: 10px 0;
}

#unix{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.unix-photos { 
  display:flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  margin:0px;
  padding:0px;
}

.unix-column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

.parallax .returnNavigation {
  background-image: url("./images/parallax-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
}

.returnNavigation{
  padding-top: 35px;;
}